<div class="ah-wrap">
  <section class="ah-user">
    <img class="user-photo" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80" alt="user image">

    <div class="user-info">
      <h3>Eder Marcos</h3>
      <p>Front-End Developer</p>
    </div>
  </section>

  <section class="ah-search">
    <input type="text" class="form-control rounded-pill"
           placeholder="Search..."
           [(ngModel)]="queryParam"
           (ngModelChange)="onSearch()">
  </section>

  <section class="ah-icons">
    <app-button-icon icon="far fa-bell"></app-button-icon>
    <app-button-icon icon="far fa-comment"></app-button-icon>
  </section>
</div>
