<section class="as-wrap">
  <section class="as-logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/640px-Angular_full_color_logo.svg.png" alt="Company logo">
    <h1>Test</h1>
  </section>

  <section class="as-menu">
    <a class="as-menu-item" routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-home"></i>
      Home
    </a>
    <a class="as-menu-item" routerLink="/employees" routerLinkActive="active">
      <i class="fas fa-user-friends"></i>
      Employees
    </a>
    <a class="as-menu-item" routerLink="/login">
      <i class="fas fa-users"></i>
      Team
    </a>
    <a class="as-menu-item" routerLink="/signup">
      <i class="fas fa-cogs"></i>
      Settings
    </a>
  </section>

  <section class="as-footer">
    <a class="as-menu-item">
      <i class="fas fa-question"></i>
      Help & Information
    </a>

    <a class="as-menu-item">
      <i class="fas fa-sign-out-alt"></i>
      Logout
    </a>
  </section>
</section>
